/////////////////////////////////
// FOOTER SECTION
////////////////////////////////

.footer-container {
    background: #fff;
    padding: 44px 0px;
}

.footer-top-row {
    display: flex;
    flex-direction: column;
    h4 {
        font-size: 1.125em;
    }
}

.footer-inner-row-left {
    display: none;
    width: 50%;
}

.footer-forms {
    position: relative;
    width: 100%;
    padding: 35px 20px 15px;
      label {
          margin-bottom: 10px;
          font-size: 1.125em;
      }
      input {
          width: 100%;
          border: 1px solid $lightgrey;
          padding: 12px 10px;
      }
      input:focus {
        outline: none;
      }
      .footer-mail-icon {
          color: $grey;
          position: absolute;
          top: 70px;
          right: 35px;
      }
      .footer-location-icon {
          color: $grey;
          position: absolute;
          top: 170px;
          right: 35px;
      }
      form {
        margin-bottom: 20px;
      }
}


.footer-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 25px;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
      .social-links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        order: 1;
        margin-bottom: 40px;
      }
      .secondary-links {
        display: flex;
        width: 100%;
        justify-content: space-between;
        order: 2;
        margin-bottom: 20px;
      }
      .secondary-links-right {
        display: flex;
        width: 100%;
        justify-content: space-between;
        order: 2;
        margin-bottom: 20px;
      }
}

.primary-links-nav {
    display: flex;
    flex-direction: column;
    .underline {
      border-bottom: 1px solid lightgray;
      padding-bottom: 15px;
      margin-bottom: 6px;
    }
}

.social-links a {
    width: 30px;
    height: 30px;
    border: 1px solid #918d8d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


//////////////////////////////////////
//// MOBILE FOOTER MENUS
/////////////////////////////////////

.mobile-dropdown-aboutus {
    max-height: 300px;
    width: 100%;
    opacity: 1;
    text-transform: uppercase;
    font-size: .9em;
}

.mobile-dropdown-aboutus a {
    padding: 10px 0px;
    display: flex;
    width: 100%;
}

.footer-mobile-menus-container {
    border-bottom: 1px solid grey;
    padding: 10px;
}

.footer-mobile-nav h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

///////////////////////////////////////
// NG-ANIMATIONS FOR MOBILE MENU //////
//////////////////////////////////////
.mobile-dropdown-aboutus.ng-hide-add,
.mobile-dropdown-aboutus.ng-hide-remove {
    transition: opacity 300ms ease, max-height .4s ease;
}

.mobile-dropdown-aboutus.ng-hide-add-active,
.mobile-dropdown-aboutus.ng-hide-remove {
    max-height: 0px;
    opacity: 0;
}

.mobile-dropdown-aboutus.ng-hide-remove-active {
    max-height: 300px;
    opacity: 1;
}


///////////////////////////////////////


//////////////////////////////////////
// MEDIA QUERIES
//////////////////////////////////////


@media (min-width: 768px){
    .footer-container {
        font-size: .9em;
    }
    .footer-top-row {
        flex-direction: column;
        border-bottom: none;
    }

    .footer-forms {
      padding: 35px 40px 15px;
      .footer-mail-icon {
          top: 67px;
          right: 55px;
      }
      .footer-location-icon {
          top: 163px;
          right: 55px;
      }
    }

    .footer-mobile-menus-container {
        padding-right: 20px;
        padding-left: 20px;
    }

}

@media (min-width: 992px) {

  .footer-container {
    padding-bottom: 0px;
  }

  .footer-inner-row-left {
      display: flex;
      width: 55%;
      padding: 35px;
  }

  .footer-mobile-inner-container {
    display: none;
  }

  .footer-top-row {
    flex-direction: row;
  }

  .footer-forms {
    width: 45%;
  }

  .primary-links-column {
    width: 120px;
    nav {
      width: 99%;
    }
    margin-right: 45px;
    h4 {
      margin-bottom: 5px;
    }
    a {
      margin: 8px 0;
    }
    span {
      color: $seagreen;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        color: $seagreen;
      }
    }
  }

  .footer-bottom-row {
    max-width: 95%;
    flex-direction: row;
    border-top: 1px solid $lightgrey;
    padding-top: 30px;
    .secondary-links {
      order: 1;
      margin-bottom: 0px;
      justify-content: flex-start;
      a {
        margin-right: 20px;
      }
    }
    .secondary-links-right {
      order: 1;
      margin-bottom: 0px;
      justify-content: flex-end;
      a {
        margin-left: 20px;
      }
    }
    .social-links {
      order: 1;
      margin-bottom: 0px;
      justify-content: center;
      a {
        margin: 0 15px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .footer-bottom-row,
  .footer-top-row {
    margin: 0 auto;
    max-width: 1280px;
  }
}
