
//////////////////////////////////////
// BURTON LOGO ANIMATIONS
/////////////////////////////////////
.logo-close-box {
  margin: 0;
  // border: 1px solid red;
  width: 135px;
  height: 35px;
  position: absolute;
  top: 75px;
  left: 4%;
  z-index: 5;
}

.burton-logo {
    width: 135px;
}

.burton-logo.ng-hide-remove {
  transition: all .3s ease .25s;
}
.burton-logo.ng-hide-add {
  transition: all .3s ease;
}

.burton-logo.ng-hide-add-active,
.burton-logo.ng-hide-remove {
  opacity: 0;
}

.burton-logo.ng-hide-remove-active {
  opacity: 1;
}

//////////////////////////////////////
// HIDDEN LOGOS ANIMATIONS
/////////////////////////////////////
.hidden-logo2.ng-hide-add,
.hidden-logo.ng-hide-add {
  transition: opacity .2s ease;
}

.hidden-logo.ng-hide-remove {
  transition: all .3s ease .25s;
}

.hidden-logo.ng-hide-add-active,
.hidden-logo.ng-hide-remove {
  opacity: 0;
  left: -300px;
}

.hidden-logo.ng-hide-remove-active {
  opacity: 1;
  left: 5%;
}

.hidden-logo {
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 5%;
  width: 112px;
  height: 17px;
}

///////////////////////////////////////
//// HIDDEN LOGO 2 ANIMATIONS
//////////////////////////////////////

.hidden-logo2.ng-hide-remove {
  transition: all .3s ease .25s;
}

.hidden-logo2.ng-hide-add-active,
.hidden-logo2.ng-hide-remove {
  opacity: 0;
  top: 99px;
}

.hidden-logo2.ng-hide-remove-active {
  opacity: 1;
  top: 95px;
}

.hidden-logo2 {
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 5%;
  width: 130px;
  height: auto;
}


//////////////////////////////////////
// MOBILE MENU
/////////////////////////////////////

.mobile-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    z-index: 1000;
}

.mobile-logo {
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 18px 13px;
    z-index: -1;
}

.mobile-hamburger {
    width: 80%;
    i {
      color: $darkgrey;
      padding-right: 15px;
    }
}

.mobile-menu-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.mobile-search {
    margin-right: 10px;
    i {
      color: $darkgrey;
    }
}

.mobile-cart {
    i {
      color: $darkgrey;
    }
}


///////////////////////////////////

.main-header-wrapper {
    display: none;
}

.main-header-topnav {
  border-bottom: 1px solid $lightgrey;
  background: #fff;
  height: 45px;
  display: flex;
  align-items: center;
}

.main-header-left {
    display: flex;
    justify-content: center;
    div {
      margin-right: 15px;
    }
}

.main-header-mid {
  color: $grey;
}

.main-header-right {
    display: flex;
    justify-content: center;
    div {
      margin-right: 15px;
    }
}

///////////////////////////////////////
//// MAIN HEADER BOTTOM NAV
//////////////////////////////////////

.main-header-bottomnav {
  display: flex;
  height: 100px;
  background: #fff;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input {
      padding: 15px;
      border: 1px solid $lightgrey;
    }
    span {
      margin: 0 10px;
      text-transform: uppercase;
      font-size: .9em;
    }
  }


///////////////////////////////////////
//// MEDIA QUERIES
//////////////////////////////////////

@media (min-width: 992px) {
  .main-header-wrapper {
      display: initial;
  }

  .mobile-header-container {
    display: none;
  }
}

@media (min-width: 1200px) {
  .logo-close-box {
    left: 5%;
  }
  .hidden-logo2,
  .hidden-logo {
    left: 7%;
  }
  .hidden-logo.ng-hide-remove-active {
    left: 7%;
  }
}
