.sidemenu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #262626;
  background-color: rgba(38,38,38, .6);
  z-index: 1001;
}

.sidemenu-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: $sidemenuBackground;
  color: $sidemenuLightText;
  overflow-y: auto;
  z-index: 1002;
  padding: 0px 0px 50px;
}

.sidemenu-close {
  position: absolute;;
  right: 15px;
  top: 13px;
  color: white;
  z-index: 1001;
  font-size: 24px;
  border: 2px solid;
  border-radius: 50%;
}

.sidemenu-header {
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  input {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 45px;
    border: 1px solid $carouselBackground;
    padding-left: 15px;
    color: $sidemenuLightText;
  }
  .search {
    position: absolute;
    top: 90px;
    right: 30px;
    font-size: 30px;
  }
}

.sidemenu-account-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0 35px;
  span {
    text-transform: uppercase;
    vertical-align: super;
    margin-left: 3px;
  }
}

.sidemenu-content-container {
  background: #fff;
  h4 {
    font-size: 1em;
    font-weight: 600;
    color: $darkgrey;
    padding: 15px 15px 15px 25px;
    display: inline-block;
    width: 84%;
    vertical-align: super;
  }
  ul {
    padding-left: 25px;
    display: none;
  }
  li {
    padding: 12px 0px;
  }
}

.sidemenu-dropdown-container {
  border-bottom: 1px solid $carouselBackground;
  ul {
    text-transform: uppercase;
    font-size: .875em;
  }
  i {
    color: $darkgrey;
    font-size: 20px;
  }
}
