.topdropnav-container {
  max-height: 400px;
  width: 100%;
  background: #fff;
  color: $grey;
  padding: 40px 25px 40px 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 25px;
  position: fixed;
  z-index: 5;
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    max-width: 185px;
    padding-left: 20px;
    border-left: 1px solid $lightgrey;
  }
  li {
    font-size: .9em;
    padding: 5px 0;
  }
  h4 {
    padding: 5px 0;
    font-size: .9em;
    color: $seagreen;
    text-transform: uppercase;
  }
}

.dropnav-pic-container {
  text-align: center;
  img {
    max-width: 141px;
  }
  div {
    max-width: 190px;
  }

}

ul.nested-list {
  margin-top: 45px;
  padding: 0;
  border: none;
}
