.topdropnav-container.ng-hide-add,
.topdropnav-container.ng-hide-remove {
  transition: opacity .1s ease;
}

.topdropnav-container.ng-hide-add-active,
.topdropnav-container.ng-hide-remove {
  opacity: 0;
}

.topdropnav-container.ng-hide-remove-active {
  opacity: 1;
}

.topdropnav-container {
  max-height: 400px;
  width: 100%;
  background: #fff;
  color: $grey;
  padding: 40px 25px 40px 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 25px;
  position: fixed;
  z-index: 5;
  nav {
    display: flex;
    justify-content: space-between;
  }
  ul {
    max-width: 185px;
    padding-left: 20px;
    border-left: 1px solid $lightgrey;
  }
  li {
    font-size: .9em;
    padding: 5px 0;
  }
  h4 {
    padding: 5px 0;
    font-size: .9em;
    color: $seagreen;
    text-transform: uppercase;
  }
}

.hover-box {
  height: 95px;
  width: 45px;
  position: absolute;
  top: -60px;
  left: 330px;
  // border: 1px solid red;
}

.dropnav-pic-container {
  text-align: center;
  img {
    max-width: 141px;
  }
  div {
    max-width: 190px;
  }

}

ul.nested-list {
  margin-top: 45px;
  padding: 0;
  border: none;
}
