<!-- MOBILE TOP BANNER SECTION HIDDEN AT 992PX -->
<section class="main-banner-top-container-mobile container-fluid">
    <div class="row main-banner-top-mobile">
    </div>
        <div class="info">
            <h4 class="subtitle">
                Gifting made <span class="nowrap">Easy-</span>
            </h4>
            <h2 class="title">
                Holiday Gift <span class="nowrap">Guides</span>
            </h2>
            <div class="description">
                Take the guessing out of giving with gift ideas anyone will appreciate.
            </div>
            <div class="links btn-action-container">
                <div class="main-btn">
                    <a href="#">Shop The Gift Guides</a>
                </div>
            </div>
        </div>
</section>

<!-- DESKTOP VIEW AFTER 992PX -->
<section class="main-banner-top-container container-fluid">
    <div class="row main-banner-top">
        <div class="offset-md-6 col-md-6 col-xs-12">
            <div class="info">
                <div class="subtitle">
                    Gifting made <span class="nowrap">Easy-</span>
                </div>
                <h2 class="title">
                    Holiday Gift <span class="nowrap">Guides</span>
                </h2>
                <div class="description">
                    Take the guessing out of giving with gift ideas anyone will appreciate.
                </div>
                <div class="links btn-action-container">
                    <div class="main-btn">
                        <a href="#">Shop The Gift Guides</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MOBILE TOP BANNER SECTION HIDDEN AT 992PX -->
<section class="secondary-banner-container-mobile container-fluid">
    <div class="row secondary-banner">
        <div class="col-xs-12 col-md-6">
            <img class="secondary-banner-img" ng-src="./img/home/best-in-snow-mens-basic-land-2x.jpg"/>
        </div>
        <div class="col-md-3 offset-md-3 offset-lg-5 secondary-banner-img-container">
            <img class="secondary-banner-img2" ng-src="./img/home/best-in-snow-mens-basic-sq-2x.jpg"/>
        </div>
    </div>
</section>
<section class="secondary-banner-info-mobile container-fluid">
    <div class="col-xs-12 secondary-banner-info">
        <div class="info">
            <h4 class="subtitle">
                BUILT TO <span class="nowrap">PERFORM —</span>
            </h4>
            <h2 class="title">
                Burton Softgoods Are Best In Snow
            </h2>
            <div class="links btn-action-container">
                <div class="main-btn">
                    <a href="#">Shop The Collection</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- DESKTOP VIEW AFTER 992PX -->
<section class="secondary-banner-container container-fluid">
    <div class="row secondary-banner">
        <div class="col-xs-12 col-md-6 ">
            <img class="secondary-banner-img" ng-src="./img/home/best-in-snow-mens-basic-land-2x.jpg"/>
        </div>
        <div class="col-md-3 offset-md-3 offset-lg-5 secondary-banner-img-container">
            <img class="secondary-banner-img2" ng-src="./img/home/best-in-snow-mens-basic-sq-2x.jpg"/>
        </div>
        <div class="col-md-6 offset-lg-2 col-lg-4 secondary-banner-info">
            <div class="secondary-info">
                <div class="-secondary-subtitle">
                    BUILT TO <span class="nowrap">PERFORM —</span>
                </div>
                <h2 class="secondary-title">
                    BURTON SOFTGOODS ARE BEST IN SNOW
                </h2>
                <div class="links btn-action-container">
                    <div class="main-btn">
                        <a href="#">Shop The Gift Guides</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="third-section-container container-fluid">
    <div class="third-section-background"></div>
    <div class="row third-section-pictures-container">
        <div class="col-md-4">
            <div class="third-section-pic1"></div>
            <figcaption class="third-section-textbox">
                <h2>Women's Snowboard Jackets</h2>
                <div class="third-section-textbox-btn"><a href="#">Shop Now</a></div>
            </figcaption>
        </div>
        <div class="col-md-4">
            <div class="third-section-pic1 third-section-pic2"></div>
            <figcaption class="third-section-textbox">
                <h2>Men's Snowboard Pants</h2>
                <div class="third-section-textbox-btn"><a href="#">Shop Now</a></div>
            </figcaption>
        </div>
        <div class="col-md-4">
            <div class="third-section-pic1 third-section-pic3"></div>
            <figcaption class="third-section-textbox">
                <h2>Men's Snowboard Layers</h2>
                <div class="third-section-textbox-btn"><a href="#">Shop Now</a></div>
            </figcaption>
        </div>
    </div>

</section>
