/*

bodyBackgroud: #f5f5f5;
buttonHeadlineLinks: #4e4c4b;
carouselBackground: #e5e5e5;
*/


body {
    background-color: #f5f5f5;
}

a {
    color: #4e4c4b;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: lightgrey;
}

//////////////////////////////////////
// MOBILE MENU
/////////////////////////////////////
.mobile-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    z-index: 1000;
}

.mobile-logo {
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 13px;
}

.mobile-hamburger {
    width: 80%;
}

.mobile-menu-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.mobile-search {
    margin-right: 10px;
}


///////////////////////////////////

.main-header-wrapper {
    display: none;
}

.main-header-left {
    display: flex;
}

.main-header-right {
    display: flex;
}

.burton-logo {
    width: 115px;
}

.background-layer {
    position: absolute;
    width: 100%;
    height: 690px;
}

.standard-button {
    border: 1px solid #4e4c4b;
    padding: 10px 15px;
}

/////////////////////////////////
// FOOTER SECTION
////////////////////////////////

.footer-container {
    background: #fff;
    padding: 44px 15px;
}

.footer-top-row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
}

.footer-inner-row-left {
    display: none;
    width: 50%;
}

.footer-forms {
    width: 50%;
}

.footer-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.primary-links-nav {
    display: flex;
    flex-direction: column;
}

//// MOBILE FOOTER MENUS /////////////

.mobile-dropdown-aboutus {
    height: 100px;
    width: 100%;
    // opacity: 1;
}

.mobile-dropdown-aboutus a {
    display: flex;
    width: 100%;
}

// ANIMATIONS FOR MOBILE MENU //////
.mobile-dropdown-aboutus.ng-hide-add,
.mobile-dropdown-aboutus.ng-hide-remove {
    transition: all .2s ease;
}

.mobile-dropdown-aboutus.ng-hide-add-active,
.mobile-dropdown-aboutus.ng-hide-remove {
    height: 0px;
    opacity: 0;
}

.mobile-dropdown-aboutus.ng-hide-remove-active {
    height: 100px;
    opacity: 1;
}



//////////////////////////////////////
// MEDIA QUERIES
//////////////////////////////////////


@media (min-width: 768px){
    .main-header-wrapper {
        display: initial;
    }

    .footer-top-row {
        flex-direction: row;
    }

    .footer-inner-row-left {
        display: flex;
        width: 50%;
    }
}
