<!-- FOOTER SECTION -->
<div class="container-fluid footer-container">
    <div class="footer-top-row">

        <!-- MOBILE FOOTER MENU DROPDOWNS -->
        <div class="footer-mobile-inner-container">
            <div class="footer-mobile-menus-container">
                <nav class="footer-mobile-nav">
                    <h4 ng-click="toggleAboutUs()" class="h4title">About Us <i class="material-icons">add</i></h4>
                    <div ng-show="showAboutUs" class="mobile-dropdown-aboutus">
                        <a href="#">About Burton</a>
                        <a href="#">Take A Tour</a>
                        <a href="#">Sustainability</a>
                        <a href="#">Chill Foundation</a>
                        <a href="#">Careers</a>
                        <a href="#">Performer Program</a>
                    </div>
                </nav>
            </div>
            <div class="footer-mobile-menus-container">
                <nav class="footer-mobile-nav">
                    <h4 ng-click="toggleDiscover()" class="h4title">Discover<i class="material-icons">add</i></h4>
                    <div ng-show="showDiscover" class="mobile-dropdown-aboutus">
                        <a href="#">Event Details</a>
                        <a href="#">Learn To Ride</a>
                        <a href="#">The Burton Blog</a>
                        <a href="#">Burton Girls Blog</a>
                        <a href="#">#Burton Gallery</a>
                    </div>
                </nav>
            </div>
            <div class="footer-mobile-menus-container">
                <nav class="footer-mobile-nav">
                    <h4 ng-click="toggleCustomerService()" class="h4title">Customer Service <i class="material-icons">add</i></h4>
                    <div ng-show="showCustomerService" class="mobile-dropdown-aboutus">
                        <a href="#">Gift Cards</a>
                        <a href="#">Help</a>
                        <a href="#">Returns</a>
                        <a href="#">Warranty</a>
                        <a href="#">Contact Us</a>
                        <a href="#">(800)881-3138</a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- END MOBILE FOOTER MENU DROPDOWNS -->

        <!-- DESKTOP VIEW FOOTER INNER MENU -->
        <div class="footer-inner-row-left">
            <div class="primary-links-column">
                <nav class="primary-links-nav">
                    <h4 class="primary-links-column-title">
                        About Us
                    </h4>
                    <a href="#">About Burton</a>
                    <a href="#">Take A Tour</a>
                    <a href="#">Sustainability</a>
                    <a href="#">Chill Foundation</a>
                    <a href="#">Careers</a>
                    <a href="#">Performer Program</a>
                </nav>
            </div>
            <div class="primary-links-column">
                <nav class="primary-links-nav">
                    <h4 class="primary-links-column-title">
                        Discover
                    </h4>
                    <a href="#">Event Details</a>
                    <a class="underline" href="#">Learn To Ride</a>
                    <a href="#">The Burton Blog</a>
                    <a class="underline" href="#">Burton Girls Blog</a>
                    <a href="#">#Burton Gallery</a>
                </nav>
            </div>
            <div class="primary-links-column">
                <nav class="primary-links-nav">
                    <h4 class="primary-links-column-title">
                        Customer Service
                    </h4>
                    <a href="#">Gift Cards</a>
                    <a href="#">Help</a>
                    <a href="#">Returns</a>
                    <a href="#">Warranty</a>
                    <a href="#">Contact Us</a>
                    <span><i class="material-icons">phone</i> (800)881-3138</span>
                </nav>
            </div>
        </div>
        <!-- END DESKTOP FOOTER INNER VIEW -->

        <div class="footer-forms">
            <div class="footer-signup">
              <form>
                  <label>Sign Up for Burton News, Sales, and Deals</label>
                  <input type="email" placeholder="Enter Your Email Address"/>
                  <button type="submit"><i class="material-icons footer-mail-icon">mail_outline</i></button>
              </form>
            </div>
            <div class="footer-findstore">
              <form>
                  <label>Find A Store</label>
                  <input type="email" placeholder="Enter City, State, or Zip Code"/>
                  <button type="submit"><i class="material-icons footer-location-icon">location_on</i></button>
              </form>
            </div>
        </div>
    </div>
    <div class="footer-bottom-row">
        <div class="secondary-links">
            <a href="#">US/EN</a>
            <a href="#">&copy; 2016 Burton Snowboards</a>
        </div>
        <div class="secondary-links social-links">
            <a href="https://m.facebook.com/BurtonSnowboards/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://mobile.twitter.com/burtonsnowboard" target="_blank" class="fa fa-twitter"></a>
            <a href="https://m.youtube.com/user/Burtonsnowboards" target="_blank" class="fa fa-youtube-play"></a>
            <a href="https://www.instagram.com/burtonsnowboards/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.pinterest.com/burtonsnowboards/" target="_blank" class="fa fa-pinterest"></a>
        </div>
        <div class="secondary-links-right">
            <a href="#">Terms &amp; Privacy</a>
            <a href="#">Contact Us</a>
            <a href="#">Site Map</a>
        </div>
    </div>
</div>
