<!-- HEADER MENU FOR MOBILE -->
<header class="mobile-header-container container-fluid">
    <div class="mobile-hamburger">
        <i class="material-icons">menu</i>
    </div>
    <div class="mobile-logo">
        <img class="burton-logo" ng-src="./img/burton-logo.svg"/>
    </div>
    <div class="mobile-menu-right">
        <div class="mobile-search">
            <i class="material-icons">search</i>
        </div>
        <div class="mobile-cart">
            <i class="material-icons">shopping_cart</i>
        </div>
    </div>
</header>

<!-- HEADER FOR IPAD AND GREATER -->
<header class="main-header-wrapper container-fluid">
    <div class="main-header-topnav row">
        <div class="main-header-left col-lg-4">
            <div><a href="#">Blogs</a></div>
            <div><a href="#">Sustainability</a></div>
            <div><a href="#">Team</a></div>
        </div>
        <div class="main-header-mid col-lg-4 text-xs-center">
            <div>Free Shipping On Orders Over $50</div>
        </div>
        <div class="main-header-right col-lg-4">
            <div>Stores</div>
            <div>US/EN</div>
            <div>Account</div>
            <div>Cart</div>
        </div>
    </div>
    <div class="main-header-bottomnav row">
        <div class="col-lg-3">
            <img class="burton-logo" ng-src="./img/burton-logo.svg"/>
        </div>
        <div class="col-lg-6">
            <span><a href="#">Men</a></span>
            <span><a href="#">Women</a></span>
            <span><a href="#">Kids</a></span>
            <span><a href="#">Bags &amp; luggage</a></span>
            <span><a href="#">Coalition</a></span>
            <span><a href="#">Sale</a></span>
        </div>
        <div class="col-lg-3">
            <input type="text" placeholder="Search" class="search-text"/>
        </div>
    </div>
</header>
