<section class="container-fluid fourth-section-container">
    <div class="row fourth-section-content">

        <!-- HIDDEN ON MOBILE VIEW -->
        <div class="col-xs-4 fourth-section-content-insta-desktop">
            <h3>#Burton</h3>
            <i class="fa fa-instagram"></i><a href="#">Follow Us</a>
        </div>
        <!-- //////////////////// -->

        <div class="fourth-section-textbox col-xs-12 col-md-6">
            <h2>Built For Adventure</h2>
            <p>Moments that inspire, stories worth sharing, all captured with Instagram. Shop and explore your favorite photos and share your pics to be featured right here.</p>
        </div>
        <div class="offset-md-4 col-xs-12">
            <a class="standard-button" href="#">Shop Gallery</a>
        </div>
    </div>
    <div class="picture-contain">
      <div class="picture-holder">
        <i class="material-icons">keyboard_arrow_left</i>
        <i class="material-icons arrow-right">keyboard_arrow_right</i>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/1mKrUPlxJ2_-P4SFhgRifA3mC_M_zJjCuX0NhD_RhjI=.jpeg"/>
        </div>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/1MzfnqDCxeD_c0RLLHd4EpZj4zTvDORkK_Et3fNsxsE=.jpeg"/>
        </div>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/oPP3dTUAMv9aFP5C4ZuHj6YlHHfGlvCfdZzcqDYBgfg=.jpeg"/>
        </div>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/Xpsudy-EqmHGpgbX0L2btfYSGDuSxV9M4p0SNNMBNcI=.jpeg"/>
        </div>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/9Fzdh_VB2q93M3-gm4Z8TW44Lir-fzKN6xRkQj5Ta1w=.jpeg"/>
        </div>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/945hPUx2rqoiJD5T632bHifztSO_qz18dihGlwYYp74=.jpeg"/>
        </div>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/prQO8nLgMwUx9a6TN-HAXxHFhQ1O9m5VWNVwuzeNmzE=.jpeg"/>
        </div>
        <div class="carousel-pic-container pic1">
            <img class="carousel-image" ng-src="./img/carousel/ULd0r5v_M4AkIn2ENGemXq-gM3eEqmw6wWVruqOAOII=.jpeg"/>
        </div>
      </div>
    </div>
    <div class="col-xs-12 fourth-section-content-insta">
        <h4>@Burtonsnowoards</h4>
        <a href="#" class="fa fa-instagram"><span>Follow Us</span></a>
    </div>
</section>
