
<!-- MODAL BACKGROUND SIDEMENU -->
<div ng-hide="hideSideMenu" ng-click="closeSideMenu()" class="sidemenu-modal"><i class="material-icons sidemenu-close">close</i></div>

<!-- SIDEMENU NAVIGATION -->
<nav ng-hide="hideSideMenu" class="sidemenu-container">
  <header class="sidemenu-header">
    <div class="sidemenu-account-container">
      <p><i class="material-icons">terrain</i><span>us/en</span></p>
      <p>Account</p>
    </div>
    <input type="text" placeholder="Search"/>
    <i class="material-icons search">search</i>
  </header>
  <ul class="sidemenu-content-container">
    <div class="sidemenu-dropdown-container">
      <h4>Find A Store</h4>
      <i class="material-icons">location_on</i>
    </div>
    <!-- Men's dropdown -->
    <div class="sidemenu-dropdown-container">
      <h4>Men</h4>
      <i class="material-icons">add</i>
      <ul>
        <li>Snowboarding</li>
        <li>Winter Necessities</li>
        <li>Apparel &amp; Accessories</li>
        <li>Collections</li>
        <li>Anon</li>
      </ul>
    </div>
    <!-- WOMEN'S DROPDOWN -->
    <div class="sidemenu-dropdown-container">
      <h4>Women</h4>
      <i class="material-icons">add</i>
      <ul>
        <li>Snowboarding</li>
        <li>Winter Necessities</li>
        <li>Apparel &amp; Accessories</li>
        <li>Collections</li>
        <li>Anon</li>
      </ul>
    </div>
    <!-- KIDS DROPDOWN -->
    <div class="sidemenu-dropdown-container">
      <h4>Kids</h4>
      <i class="material-icons">add</i>
      <ul>
        <li>Snowboarding</li>
        <li>Winter Necessities</li>
        <li>Apparel &amp; Accessories</li>
        <li>Collections</li>
        <li>Anon</li>
      </ul>
    </div>
    <!-- BAGS & LUGGAGE DROPDOWN -->
    <div class="sidemenu-dropdown-container">
      <h4>Bags &amp; Luggage</h4>
      <i class="material-icons">add</i>
      <ul>
        <li>Bags</li>
        <li>Luggage</li>
        <li>Collections</li>
      </ul>
    </div>
    <!-- COALITION -->
    <div class="sidemenu-dropdown-container">
      <h4>Coalition</h4>
      <i class="material-icons">add</i>
      <ul>
        <li>Available Now</li>
      </ul>
    </div>
    <!-- SALE -->
    <div class="sidemenu-dropdown-container">
      <h4>Sale</h4>
      <i class="material-icons">add</i>
      <ul>
        <li>Men's Sale</li>
        <li>Women's Sale</li>
        <li>Kid's Sale</li>
        <li>Bags &amp; Luggage Sale</li>
      </ul>
    </div>
    <!-- BLOGS -->
    <div class="sidemenu-dropdown-container">
      <h4>Blogs</h4>
      <i class="material-icons">add</i>
      <ul>
        <li>Burton Girls</li>
        <li>The Burton Blog</li>
      </ul>
    </div>
    <div class="sidemenu-dropdown-container">
      <h4>Sustainability</h4>
    </div>
    <div class="sidemenu-dropdown-container">
      <h4>Team</h4>
    </div>
  </ul>
</nav>
