
<!-- MODAL BACKGROUND SIDEMENU -->
<div class="sidemenu-modal"></div>

<!-- SIDEMENU NAVIGATION -->
<nav class="sidemenu-container">
  <header>
    <p><span>flag</span>us/en</p>
    <p>Account</p>
    <input type="text" />
    <span>search icon</span>
  </header>
  <ul>
    <h4>Find A Store</h4>
    <!-- Men's dropdown -->
    <ul>
      <h4>Men</h4>
      <li>Snowboarding</li>
      <li>Winter Necessities</li>
      <li>Apparel &amp; Accessories</li>
      <li>Collections</li>
      <li>Anon</li>
    </ul>
    <!-- WOMEN'S DROPDOWN -->
    <ul>
      <h4>Women</h4>
      <li>Snowboarding</li>
      <li>Winter Necessities</li>
      <li>Apparel &amp; Accessories</li>
      <li>Collections</li>
      <li>Anon</li>
    </ul>
    <!-- KIDS DROPDOWN -->
    <ul>
      <h4>Kids</h4>
      <h4>Women</h4>
      <li>Snowboarding</li>
      <li>Winter Necessities</li>
      <li>Apparel &amp; Accessories</li>
      <li>Collections</li>
      <li>Anon</li>
    </ul>
    <!-- BAGS & LUGGAGE DROPDOWN -->
    <ul>
      <h4>Bags &amp; Luggage</h4>
      <li>Bags</li>
      <li>Luggage</li>
      <li>Collections</li>
    </ul>
    <!-- COALITION -->
    <ul>
      <h4>Coalition</h4>
      <li>Available Now</li>
    </ul>
    <!-- SALE -->
    <ul>
      <h4>Sale</h4>
      <li>Men's Sale</li>
      <li>Women's Sale</li>
      <li>Kid's Sale</li>
      <li>Bags &amp; Luggage Sale</li>
    </ul>
    <!-- BLOGS -->
    <ul>
      <h4>Blogs</h4>
      <li>Burton Girls</li>
      <li>The Burton Blog</li>
    </ul>

    <h4>Sustainability</h4>
    <h4>Team</h4>
  </ul>
</nav>
