<div ng-hide="dropNav" ng-mouseLeave="toggleDropNav()" class="topdropnav-container">
  <nav>
    <ul>
      <h4>Snowboarding</h4>
      <li>Snowboards</li>
      <li>Snowboard Boots</li>
      <li>Snowboarding Bindings</li>
      <li>Snowboarding Jackets</li>
      <li>Snowboard Pants</li>
      <li>Insulators &amp; Fleece</li>
      <li>Protection &amp; Helmets</li>
      <li>Board Bags &amp; Snow Pants</li>
      <li>Tools &amp; Accessories</li>
      <li>Sale</li>
    </ul>

    <ul>
      <h4>Winter Necessities</h4>
      <li>Base Layer</li>
      <li>Gloves &amp; Mittens</li>
      <li>Facemasks &amp; Neckwarmers</li>
      <li>Socks</li>
      <li>Beanies &amp; Headbands</li>
      <li>Sale</li>
    </ul>

    <ul>
      <h4>Apparel &amp; Accessories</h4>
      <li>Jackets &amp; Outerwear</li>
      <li>Insulators &amp; Fleece</li>
      <li>Shirts &amp; Sweaters</li>
      <li>Hoodies</li>
      <li>Tees</li>
      <li>Pants &amp; Shorts</li>
      <li>Hats &amp; Beenies</li>
      <li>Accessories</li>
      <li>Sale</li>
    </ul>

    <ul>
      <h4>Collections</h4>
      <li>Holiday Gift Guide</li>
      <li>Analog Collection</li>
      <li>GORE-TEX Gear</li>
      <li>Mens Fleece</li>
      <li>#Burton Gallery</li>
      <ul class="nested-list">
        <h4>Anon</h4>
        <li>Goggles &amp; Lenses</li>
        <li>Helmets</li>
        <li>anon. Accessories</li>
      </ul>
    </ul>
    <div class="dropnav-pic-container">
      <h4>Featured Product</h4>
      <div>
        <img ng-src="./img/topDropNav/dropnavsliderboard.jpeg"/>
        <p>Burton Flight Attendant Snowboard</p>
        <p>$ 549.95</p>
      </div>
    </div>
  </nav>
</div>
