<div ng-hide="mensDropNav" ng-mouseLeave="toggleMensDropNav()" class="topdropnav-container">
  <!-- <span class="hover-box"></span> -->
  <nav>
    <ul>
      <h4>Snowboarding</h4>
      <li><a ui-sref="#" class="dropnav-links">Snowboards</a></li>
      <li><a ui-sref="#" class="dropnav-links">Snowboard Boots</a></li>
      <li><a ui-sref="#" class="dropnav-links">Snowboarding Bindings</a></li>
      <li><a ui-sref="#" class="dropnav-links">Snowboarding Jackets</a></li>
      <li><a ui-sref="#" class="dropnav-links">Snowboard Pants</a></li>
      <li><a ui-sref="#" class="dropnav-links">Insulators &amp; Fleece</a></li>
      <li><a ui-sref="#" class="dropnav-links">Protection &amp; Helmets</a></li>
      <li><a ui-sref="#" class="dropnav-links">Board Bags &amp; Snow Pants</a></li>
      <li><a ui-sref="#" class="dropnav-links">Tools &amp; Accessories</a></li>
      <li><a ui-sref="#" class="dropnav-links">Sale</a></li>
    </ul>

    <ul>
      <h4>Winter Necessities</h4>
      <li><a ui-sref="#" class="dropnav-links">Base Layer</a></li>
      <li><a ui-sref="#" class="dropnav-links">Gloves &amp; Mittens</a></li>
      <li><a ui-sref="#" class="dropnav-links">Facemasks &amp; Neckwarmers</a></li>
      <li><a ui-sref="#" class="dropnav-links">Socks</a></li>
      <li><a ui-sref="#" class="dropnav-links">Beanies &amp; Headbands</a></li>
      <li><a ui-sref="#" class="dropnav-links">Sale</a></li>
    </ul>

    <ul>
      <h4>Apparel &amp; Accessories</h4>
      <li><a ui-sref="#" class="dropnav-links">Jackets &amp; Outerwear</a></li>
      <li><a ui-sref="#" class="dropnav-links">Insulators &amp; Fleece</a></li>
      <li><a ui-sref="#" class="dropnav-links">Shirts &amp; Sweaters</a></li>
      <li><a ui-sref="#" class="dropnav-links">Hoodies</a></li>
      <li><a ui-sref="#" class="dropnav-links">Tees</a></li>
      <li><a ui-sref="#" class="dropnav-links">Pants &amp; Shorts</a></li>
      <li><a ui-sref="#" class="dropnav-links">Hats &amp; Beenies</a></li>
      <li><a ui-sref="#" class="dropnav-links">Accessories</a></li>
      <li><a ui-sref="#" class="dropnav-links">Sale</a></li>
    </ul>

    <ul>
      <h4>Collections</h4>
      <li><a ui-sref="#" class="dropnav-links">Holiday Gift Guide</a></li>
      <li><a ui-sref="#" class="dropnav-links">Analog Collection</a></li>
      <li><a ui-sref="#" class="dropnav-links">GORE-TEX Gear</a></li>
      <li><a ui-sref="#" class="dropnav-links">Mens Fleece</a></li>
      <li><a ui-sref="#" class="dropnav-links">#Burton Gallery</a></li>
      <ul class="nested-list">
        <h4>Anon</h4>
        <li><a ui-sref="#" class="dropnav-links">Goggles &amp; Lenses</a></li>
        <li><a ui-sref="#" class="dropnav-links">Helmets</a></li>
        <li><a ui-sref="#" class="dropnav-links">anon. Accessories</a></li>
      </ul>
    </ul>
    <div class="dropnav-pic-container">
      <h4>Featured Product</h4>
      <div>
        <img ng-src="./img/topDropNav/dropnavsliderboard.jpeg"/>
        <p>Burton Flight Attendant Snowboard</p>
        <p>$ 549.95</p>
      </div>
    </div>
  </nav>
</div>
