//// MOBILE VIEWS////////////////////
.main-banner-top-container-mobile {
    background-color: $bgLightgrey;
    margin-bottom: 25px;
}

.main-banner-top-mobile {
    margin-top: 55px;
    background-image: url('../../img/home/gift-guide-overview-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 320px;
    margin-bottom: 40px;
}

.secondary-banner-container-mobile {
    position: relative;
    background-image: url('../../img/home/best-in-snow-mens-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 460px;
    margin-bottom: 40px;
}


//// DESKTOP VIEWS ////////////////////
.main-banner-top {
    display: none;
    margin-top: 55px;
    background-image: url('../../img/home/gift-guide-overview-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 320px;
    margin-bottom: 80px;
}

.secondary-banner-container {
    display: none;
}

.secondary-banner {
    padding-top: 20px;
    background-image: url('../../img/home/best-in-snow-mens-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 460px;
    margin-bottom: 80px;
}

.secondary-banner-img {
    width: 588px;
    max-width: 100%;
}

.secondary-banner-img-container {
    position: absolute;
    top: 245px;
    width: 57%;
    left: 25px;
}

.secondary-banner-img2 {
    width: 282px;
    max-width: 100%;
}

.third-section-container {
    padding-bottom: 80px;
}

.third-section-background {
    left: 0;
    position: absolute;
    background-image: url('../../img/home/SnowboardJackets-secondary-bg-2x.jpg');
    background-size: cover;
    background-postion: 50%;
    height: 690px;
    overflow: hidden;
    z-index: 0;
    width: 100%;
}

.third-section-pictures-container {
    padding-top: 80px;
}

.third-section-pic1 {
    height: 550px;
    background-size: cover;
    background-position: 50%;
    background-image: url("../../img/home/SnowboardJackets02-secondary-port-2x.jpg");
}

.third-section-pic2 {
    background-image: url("../../img/home/Snowboard-Pants01-secondary-port-2x.jpg");
}

.third-section-pic3 {
    background-image: url("../../img/home/BaseLayer01-secondary-port-2x.jpg");
}

.third-section-textbox {
    padding: 20px 20px 35px;
    background: #fff;
    margin-bottom: 20px;
    h2 {
      font-size: 2.5em;
    }
}

.third-section-textbox-btn {
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    margin-top: 30px;
}

.third-section-textbox-btn a {
    border: 1px solid gray;
    padding: 10px 25px;
    text-transform: uppercase;
    display: block;
    max-width: 150px;
    text-align: center;
}

.fourth-section-container {
    position: relative;
    padding-top: 80px;
    background: #e5e5e5;
    height: 600px;
}

.fourth-section-textbox {
    margin-bottom: 35px;
    h2 {
      font-size: 2.5em;
    }
}


@media (min-width: 768px) {
  .main-banner-top-container-mobile {
    display: none;
  }
  .main-banner-top {
      display: block;
  }

}
