//// MOBILE VIEWS////////////////////
.main-banner-top-container-mobile {
    background-color: $bgLightgrey;
    margin-bottom: 25px;
}

.main-banner-top-mobile {
    margin-top: 55px;
    background-image: url('../../img/home/gift-guide-overview-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 320px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.secondary-banner-container-mobile {
    position: relative;
    background-image: url('../../img/home/best-in-snow-mens-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 460px;
    margin-bottom: 40px;
}

.secondary-banner-info-mobile .title {
  text-transform: uppercase;
  font-family: $mainFont;
}

.secondary-banner-info-mobile {
  height: 300px;
}


//// DESKTOP VIEWS ////////////////////
.main-banner-top {
    display: none;
    background-image: url('../../img/home/gift-guide-overview-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 460px;
    margin-bottom: 80px;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.secondary-banner-container {
    display: none;
}

.secondary-banner {
    position: relative;
    padding-top: 20px;
    background-image: url('../../img/home/best-in-snow-mens-basic-bg-2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    height: 460px;
    margin-bottom: 80px;
}

.secondary-banner-img {
    width: 588px;
    max-width: 100%;
}

.secondary-banner-img-container {
    position: absolute;
    top: 230px;
    width: 65%;
    left: 17%;
}

.secondary-banner-img2 {
    width: 282px;
    max-width: 100%;
}

.third-section-container {
    padding-bottom: 80px;
}

.third-section-background {
    left: 0;
    position: absolute;
    background-image: url('../../img/home/SnowboardJackets-secondary-bg-2x.jpg');
    background-size: cover;
    background-postion: 50%;
    height: 690px;
    overflow: hidden;
    z-index: 0;
    width: 100%;
}

.third-section-pictures-container {
    padding-top: 80px;
}

.third-section-pic1 {
    height: 550px;
    background-size: cover;
    background-position: 50%;
    background-image: url("../../img/home/SnowboardJackets02-secondary-port-2x.jpg");
}

.third-section-pic2 {
    background-image: url("../../img/home/Snowboard-Pants01-secondary-port-2x.jpg");
}

.third-section-pic3 {
    background-image: url("../../img/home/BaseLayer01-secondary-port-2x.jpg");
}

.third-section-textbox {
    padding: 20px 20px 35px;
    background: #fff;
    margin-bottom: 20px;
    h2 {
      font-size: 2.5em;
    }
}

.third-section-textbox-btn {
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    margin-top: 30px;
}

.third-section-textbox-btn a {
    border: 1px solid gray;
    padding: 12px 25px;
    text-transform: uppercase;
    display: block;
    max-width: 150px;
    text-align: center;
}

.fourth-section-container {
    position: relative;
    padding-top: 80px;
    background: #e5e5e5;
    height: 670px;
    .fourth-section-content-insta {
      position: absolute;
      bottom: 50px;
      left: 0;
    }
}

.fourth-section-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    .fourth-section-content-insta-desktop {
      display: none;
      h4 {
        letter-spacing: 1px;
        font-size: 1.125em;
      }
    }
}

.fourth-section-content-insta {
  h4 {
    letter-spacing: 1px;
    font-size: 1.125em;
    margin-bottom: 10px;
  }
  a {
    color: #4e4c4b;
  }
  span {
    font-family: $mainFont;
    text-transform: uppercase;
    margin-left: 3px;
    text-decoration: underline;
  }
}

.fourth-section-textbox {
    margin-bottom: 60px;
    h2 {
      font-size: 2.15em;
      margin-bottom: 15px;
    }
    p {
      line-height: 1.4;
      font-size: 1.1em;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
}


@media (min-width: 768px) {
  .main-banner-top-container-mobile {
    display: none;
  }
  .main-banner-top {
      display: block;
      padding-top: 80px;
  }

  .secondary-banner-container-mobile,
  .secondary-banner-info-mobile {
      display: none;
  }

  .secondary-banner-container {
      display: block;
  }

  .secondary-banner {
      padding-left: 20px;
      padding-top: 40px;
  }

  .secondary-banner-img {
      padding-top: 20px;
  }

  .secondary-banner-img2 {
      max-width: 38%;
  }

  .secondary-banner-img-container {
      left: 5%;
  }

  .secondary-info {
      color: #fff;
  }

  .secondary-subtitle {
      text-transform: uppercase;
      font-size: 1.125em;
      margin-bottom: 30px;
  }

  .secondary-title {
      text-transform: uppercase;
      font-family: $mainFont;
      margin-bottom: 40px;
      font-weight: 300;
      letter-spacing: 5px;
      font-size: 3em;
      line-height: 1.2;
  }

  .third-section-textbox h2 {
      font-size: 2.25em;
  }

  .fourth-section-content-insta {
    display: none;
  }

  .fourth-section-content {
      display: block;
      .fourth-section-content-insta-desktop {
        display: block;
        h3 {
          font-size: 1.125em;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        i {
          margin-right: 3px;
          font-size: .8em;
        }
        a {
          text-decoration: underline;
          text-transform: uppercase;
          font-size: .8em;
          letter-spacing: 1px;
        }
      }
  }

  .fourth-section-container {
    height: 630px;
    padding-top: 60px;
  }

}

@media (min-width: 992px) {
  .secondary-banner-img-container {
    top: 155px;
    width: 56%;
    left: 9%;
  }
}
